body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.very-warm { background-color: #FF8500; }
.warm { background-color:#ffc600; }
.normal { background-color:  #94AF10; }
.cold { background-color: #06799F; }
.very-cold { background-color: #233884; }

.city {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}


.weather-details {
    overflow: hidden;
    margin-top: 35px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.wdata {
    margin: auto;
    display: flex;
    align-content: space-between;
    text-align: center;
    width: 40%;
    border: 2px solid black;
}

.temp {
    font-size: 70px;
    margin-right: auto;
    padding-right: 40px;
}

button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width:100px;
    background-color: aliceblue;
    color: cornflowerblue;
    box-sizing: inherit;
}

button:hover {
    text-decoration: underline;
}

#weather {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#weather td, #weather th {
    border: 1px solid #ddd;
    padding: 8px;
}

#weather tr:nth-child(even){background-color: #f2f2f2;}

#weather tr:hover {background-color: #ddd;}

#weather th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
